In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://m2pi.syzygy.ca/data/Airlines.csv.zip', index_col='id')

In [3]:
df.columns

Index(['Airline', 'Flight', 'AirportFrom', 'AirportTo', 'DayOfWeek', 'Time',
       'Length', 'Delay'],
      dtype='object')

In [4]:
df.head()

   Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
id
1       CO     269         SFO       IAH          3    15     205      1
2       US    1558         PHX       CLT          3    15     222      1
3       AA    2400         LAX       DFW          3    20     165      1
4       AA    2466         SFO       DFW          3    20     195      1
5       AS     108         ANC       SEA          3    30     202      0

In [5]:
df.describe()

,Flight,DayOfWeek,Time,Length,Delay
count,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000
mean,2427.928630,3.929668,802.728963,132.202007,0.445442
std,2067.429837,1.914664,278.045911,70.117016,0.497015
min,1.000000,1.000000,10.000000,0.000000,0.000000
25%,712.000000,2.000000,565.000000,81.000000,0.000000
50%,1809.000000,4.000000,795.000000,115.000000,0.000000
75%,3745.000000,5.000000,1035.000000,162.000000,1.000000
max,7814.000000,7.000000,1439.000000,655.000000,1.000000

In [6]:
df.isna().sum()

Airline        0
Flight         0
AirportFrom    0
AirportTo      0
DayOfWeek      0
Time           0
Length         0
Delay          0
dtype: int64

In [7]:
df.dtypes

Airline        object
Flight          int64
AirportFrom    object
AirportTo      object
DayOfWeek       int64
Time            int64
Length          int64
Delay           int64
dtype: object

In [8]:
categorical_cols = [col for col in df.columns if df[col].dtype =='object']
categorical_cols

['Airline', 'AirportFrom', 'AirportTo']

In [9]:
for category in categorical_cols:
    print(df[category].value_counts().sort_values(ascending = False).head(10))

WN    94097
DL    60940
OO    50254
AA    45656
MQ    36605
US    34500
XE    31126
EV    27983
UA    27619
CO    21118
Name: Airline, dtype: int64
ATL    34449
ORD    24822
DFW    22154
DEN    19843
LAX    16657
IAH    15821
PHX    15557
DTW    13136
LAS    11918
SFO    11786
Name: AirportFrom, dtype: int64
ATL    34440
ORD    24871
DFW    22153
DEN    19848
LAX    16656
IAH    15819
PHX    15558
DTW    13146
LAS    11918
SFO    11792
Name: AirportTo, dtype: int64

## Scale and Encode the categorical values

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

In [13]:
onehot = OneHotEncoder()
df_hot = onehot.fit_transform(df)

<539383x8755 sparse matrix of type '<class 'numpy.float64'>'
	with 4315064 stored elements in Compressed Sparse Row format>